{{ form_start(form) }}
{{ form_widget(form) }}
<div class="row justify-content-center addButton">
    <button class="btn text-center style-button bg-gradient1 mx-auto" href="{{ path('equipement_index') }}"><span>Modifier</span></button>
</div>
{{ form_end(form) }}
