{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification du matériel{% endblock %}
{% block body %}
    <div class="backlink"><a href="{{ path('equipement_index') }}"><i class="fas fa-chevron-circle-left"></i></a></div>
        <div class="container">
            <h2 class="text-center mb-5">Modification du matériel</h2>
            {{ include('equipement/_form.html.twig') }}
        </div>
{% endblock %}
