{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification du matériel{% endblock %}
{% block body %}
        <div class="backlink"><a href="{{ path('equipement_index') }}">&lt; Retour</a></div>
        <div class="container pt-5">
            <h2 class="text-center mb-5">Modification du matériel</h2>
            {{ include('equipement/_form.html.twig') }}
        </div>
{% endblock %}
