{% extends 'baseAdmin.html.twig' %}

{% block title %}Index du matériel{% endblock %}
{% block body %}
    <main>
        <div class="container">
            <h2 class="text-center mt-3 mb-3">Liste du matériel</h2>
            <div class="row">
                <div class="col-md-12">
                    <table id="datatable" class="table table-striped table-bordered ">
                        <thead class="text-center">
                        <tr>
                            <th>Nom du matériel</th>
                            <th>Modifier</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for equipement in equipements %}
                            <tr>
                                <td>{{ equipement.name }}</td>
                                <td class="text-center"><a href="{{ path('equipement_edit', {'id': equipement.id}) }}" class="badge badge-light"><i class="fas fa-pen"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row justify-content-center validbutton">
                        <a href="{{ path('equipement_new') }}" class="btn text-center style-button bg-gradient1 mx-auto"><span>Ajouter du matériel</span></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="navigation">
                    {{ knp_pagination_render(equipements) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
