{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout du matériel{% endblock %}

{% block body %}

    <span class="backlink"><a href="{{ path('equipement_index') }}">&lt; Retour</a></span>
        <h2 class="text-center">Ajout du matériel</h2>
        {{ include('equipement/_form.html.twig') }}

{% endblock %}