{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout du matériel{% endblock %}

{% block body %}

    <div class="backlink"><a href="{{ path('equipement_index') }}"><i class="fas fa-chevron-circle-left"></i></a></div>

    <h2 class="text-center">Ajout du matériel</h2>
        {{ include('equipement/_form.html.twig') }}

{% endblock %}