{% extends 'baseAdmin.html.twig' %}

{% block title %}Equipement{% endblock %}
{% block body %}
    <h1>Equipement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ equipement.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipement_index') }}">back to list</a>

    <a href="{{ path('equipement_edit', {'id': equipement.id}) }}">edit</a>
{% endblock %}
