{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container-fluid card text-center">
        <div class="container-fluid row card-header">
            <div class="container-fluid card-body">
                <h1 class="card-title">Réservation des salles et restitution des clés</h1>
            </div>
            <img class="card-img-bottom" src="LABO_2016_exter@Jean_PUYO.jpg" alt="Card image cap">
            <div>
                <a href="#" class="btn btn-dark width-2">Réservation</a>
            </div>
        </div>
    </div>
{% endblock %}
