{% extends 'base.html.twig' %}

{% block title %}Home {{ controller_name }}!{% endblock %}

{% block body %}
    <main class="container-fluid backgroundHome">
        <div class="d-flex align-items-center flex-column pt-5">
            <div class="mt-5">
                <h1>Réservation des salles et restitution des clés</h1>
            </div>
            <div class="row justify-content-center reservation">
                <a href="#" class="btn text-center style-button bg-gradient1 mx-auto"><span>Réservation</span></a>
            </div>
        </div>
    </main>
{% endblock %}
