{{ form_start(formArchive[reservation.id], {'action': path('current_reservation_index', {'id' : reservation.id} )} ) }}
<button class="btn btn-link"><i class="fas fa-archive"></i></button>
{{ form_end(formArchive[reservation.id]) }}
