{% extends 'base.html.twig' %}


{% block title %}Nouvelle réservation{% endblock %}
{% block header %}<main> {% include 'home/_navbar.html.twig' %}{% endblock %}

{% block body %}
    <div class="new_resa"><h2>Nouvelle réservation </h2></div>

    {{ include('reservation/_form.html.twig') }}
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app-signature') }}
{% endblock %}
