{% extends 'base.html.twig' %}


{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
<main>
    <div class="new_resa"><h2>Nouvelle Réservation </h2></div>

    {{ include('reservation/_form.html.twig') }}
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app-signature') }}
{% endblock %}
