{% block body %}
{{ form_start(form) }}
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> {{ button_label|default('Activer') }}
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Déactiver
    </label>
</div>
{{ form_end(form) }}
{% endblock %}