{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification du Personnel{% endblock %}

{% block body %}
    <a class="backlink" href="{{ path('staff_index') }}">&lt; Retour</a>
    <div class="container mt-5 pt-5">
        <h2 class="text-center mt-5 mb-5">Modification du Personnel</h2>
        {{ include('staff/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
