{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification du personnel{% endblock %}

{% block body %}
    <div class="backlink"><a href="{{ path('staff_index') }}"><i class="fas fa-chevron-circle-left"></i></a></div>
    <div class="container mt-5 pt-5">
        <h2 class="text-center mt-5 mb-5">Modification du personnel</h2>
        {{ include('staff/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
