{% extends 'base.html.twig' %}

{% block title %}New Staff{% endblock %}

{% block body %}
    <main>
        <a href="{{ path('staff_index') }}">&lt; Retour</a>
        <div class="container">
            <h2>Création du Personnel</h2>
            {{ include('staff/_form.html.twig') }}
        </div>
    </main>
{% endblock %}
