<form method="post" action="{{ path('room_delete', {'id': room.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cette salle ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="badge badge-light btnAdminDelete" name="Supprimer" value="Supprimer"><i class="fas fa-trash-alt"></i></button>
</form>
