{% extends 'baseAdmin.html.twig' %}

{% block title %}Editer une Salle{% endblock %}

{% block body %}
    <span class="backlink"><a href="{{ path('room_index') }}">< Retour</a></span>

    <h2>Editer une salle</h2>

    {{ include('room/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
