{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle Salle{% endblock %}

{% block body %}

    <span class="backlink"><a href="{{ path('room_index') }}">&lt; Retour</a></span>

    <h2>Ajouter une nouvelle Salle</h2>


    {{ include('room/_form.html.twig') }}


{% endblock %}
