{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle Salle{% endblock %}

{% block body %}

    <div class="backlink"><a href="{{ path('room_index') }}"><i class="fas fa-chevron-circle-left"></i></a></div>

    <h2>Ajouter une nouvelle Salle</h2>


    {{ include('room/_form.html.twig') }}


{% endblock %}
