{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout d'une salle{% endblock %}

{% block body %}

    <div class="backlink"><a href="{{ path('room_index') }}"><i class="fas fa-chevron-circle-left"></i></a></div>

    <h2>Ajout d'une Salle</h2>


    {{ include('room/_form.html.twig') }}


{% endblock %}
