<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light navbar_bg">
    <a class="navbar-brand" href="{{ path('admin') }}"><img class='logoLabo' src="../build/images/Logo_LABO_V3_NoirRVB.png" alt="logo Labo"><img class='logo' src="../build/images/logo_op1.png" alt="Logo Orleans Pepinieres"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <a class="nav-link nav_title_admin" href="{{ path('staff_index') }}">Liste du personnel</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link nav_title_admin" href="#">Liste du matériel</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link nav_title_admin" href="#">Liste des salles</a>
            </li>
        </ul>
    </div>
</nav>