.navbar-brand {
  margin-left: 2%;
}

.logo {
  width: 220px;
  padding-right: 20%;
}

.logoLabo {
  width: 50px;
}

.navbar_bg {
  background-color: $primary-color;
}

.navbar {
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        a {
          font-size: 2em;
          color: $monochrome-color;
          font-weight: bold;
          text-shadow: 2px 2px 2px $secondary-color;
          &:hover {
            color: $secondary-color;
            text-shadow: 1px 1px 1px $monochrome-color;
          }
        }
      padding-right: 3vh;
      padding-left: 3vh;
      }
    }
  }
}

.nav_title_admin {
  font-family: $font-title;
}

h2 {
  color: $secondary-color;
  font-size: calc(2vw + 17pt);
  margin-top: 6%;
}

th {
  font-family: $font-title;
  font-size: calc(0.8vw + 10pt);
}

td {
  font-family: $font-text;
  font-size: calc(0.5vw + 8pt);
}
.btnAdminDelete {
  border: none;
}