h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0;
  margin-top: 6%;
  font-family: $font-title;
  font-weight: bold;
}
.table {
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top:5%;
  padding-right:5%;
  border-radius: .25rem;
  border-spacing: 0;
  text-align: left;
}
tbody tr:hover {
  background-color: $highlight-color;
  cursor: default;
}
thead tr:first-child {
  color: $secondary-color;
  border: none;
}
.navigation {
  .page-item , .page-link {
    color: $secondary-color;
    border: none;
  }
  .page-item.active .page-link{
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
.celluleSelector {
  a{
    color:$secondary-color;
    position: relative;
    display:block;
    height: 100%;
    min-height: 40px;
  }
  .btn-secondary{
    color:$secondary-color;
    background-color:$highlight-color;
  }
  .dropdown-item.active, .dropdown-item:active{
    background-color: $primary-color;
  }
}


