h2 {
  text-align: center;
  font-family: $font-title;
  font-weight: bold;
}

.table {
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top:5%;
  padding-right:5%;
  border-radius: .25rem;
  border-spacing: 0;
  text-align: left;
}
tbody tr:hover {
  background-color: $highlight-color;
  cursor: default;
}
thead tr:first-child {
  color: $secondary-color;
  border: none;
}
.navigation {
  .page-item , .page-link {
    color: $secondary-color;
    border: none;
  }
  .page-item.active .page-link{
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
.celluleSelector {
  a {
    color: $secondary-color;
    position: relative;
    display: block;
    height: 100%;
    min-height: 40px;
  }
  li{
    list-style: none;
  }
}

table {
  tbody {
    tr {
      .comments_table {
        max-width: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .btnArchive {
    color: $primary-color;
    &:hover {
      color: $secondary-color
    }
  }
  .boutonarchive{
    text-align : center;
  }
}

