main{
  background-color: $monochrome-color;
}
.form-control{
  background-color : $input-color;
}
  h2{
    font-family : $font-title;
    font-size : 2.5em;
    font-weight : bold;
    text-align : center;
    padding-bottom : 2%;
    padding-top : 1%;
    color: $secondary-color;
  }
label{
  font-family: $font-title;
  font-size: 1.2em;
  padding-left : 10%;
  white-space : nowrap;
  color : $secondary-color;
}
input{
  font-family : $font-text;
  padding-left : 10%;
}
.formline{
  padding-top : 2%;
}
#reservation_comment{
  width : 80%;
  height : 75%;
}
.comments{
  padding-top : 1%;
}
.validbutton{
  @include style-button($monochrome-color,$primary-color,$primary-color);
  .style-button{
    font-size : 1em;
  }
 button{
   background-color: $monochrome-color;
   margin-top: calc(-5vh + (-2pt));
 }
}
.select_staff {
  margin-top: -5%;
  margin-bottom: 2%;
}
#canvas{
  border : 1px solid black;
  border-radius: 0.5em;
}
@media (min-width: 1281px) {
  #canvas {
    height: 320px;
    width: 700px;
  }
}
@media (min-width: 700px) and (max-width: 1280px){
  #canvas {
    height: 200px;
    width: 700px;
  }
}
.text_signature {
  padding-top : 5em;
  font-weight: bold;
}
.formEdit{
  pointer-events: none;
  margin-bottom: 1.5em;
}
.requirefield{
 color : $primary-color;
  font-style: italic;
}
.container_form {
  .d-block {
    max-width : 320px;
    .form-error-message {
      font-size: 1.6em;
    }
  }
}
