main {
  height: 100vh;
}
h1, h2{
  font-family:$font-title, sans-serif;
  font-weight:bold;
}
h3,h4,h5,h6{
  font-family: $font-title, sans-serif;
  font-weight: lighter;
}
p {
  font-family: $font-text,sans-serif;
  font-weight: lighter;
}

/* fancy Button */
.fancy-button {
  font-family: $font-text, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: calc(0.8vw + 3pt);
  text-transform: uppercase;
  line-height: 34px;
  color: #ffffff;
  position: relative;
  &.bg-gradient1 {
    text-shadow: 0px 0px 1px #e53530;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: -1;
    border-radius: 2em;
    filter: blur(14px) brightness(0.9);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }
  span {
    display: inline-block;
    padding: 16px 20px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }
  &:hover {
    color: #ffffff;

    span {
      filter: brightness(.9) contrast(1.2);
      transform: scale(0.96);
    }
    &:before {
      bottom: 3px;
      filter: blur(6px) brightness(0.8);
    }
  }
  &:active span {
    filter: brightness(.75) contrast(1.7);
  }
}
.bg-gradient1 span, .bg-gradient1::before {
  background: #e53530;
  background: linear-gradient(180deg, #e53530 10%, #F6682F 60%, #e53530 100%);
}