// General home page
h1 {
  color: $monochrome-color;
  text-shadow: 2px 3px 2px $secondary-color;
  font-size: calc(3.7vw + 25pt);
  margin-top: 6%;
}

.reservation {
  @include style-button($monochrome-color, $primary-color, $primary-color);
  font-size: calc(0.8vw + 15pt);
  .style-button{
    font-size: 0.5em;
    letter-spacing: 0.08em;
    padding-bottom: 15%;
    position: relative;
    span {
      text-shadow: 2px 2px 2px $secondary-color;
      padding: 20px;
    }
  }
}
@media (min-width: 500px) {
  .backgroundHome {
    background: url("../images/LABO_2016_exter.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: cover !important;
  }
}
//// Landscape Tablet mode
@media (min-width: 700px){
  h1{
    padding-top: 15%;
    text-shadow: 3px 4px 3px darken($primary-color, 15%);
  }

}
