.validbutton {
  @include style-button($monochrome-color, $primary-color, $primary-color);
  margin-top: 5%;
  .style-button {
    font-size: calc(0.7vw + 2pt);
    position: relative !important;
  }
}
.room{
  input{
    margin-top : 5%  }
  label{
    padding-top : 25%;
    font-size : 1.2em;
    font-family : $font-text;
    font-weight : bold;
  }
  h2{
    text-align : center;
  }
}
