/*==================================================================
[ Navbar ]*/

.navbar {
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        a {
          font-size: 1.5em;
          color: white;
          text-shadow: 2px 2px 2px black;
          &:hover {
            color: #c0ae8a;
            text-shadow: 1px 1px 1px white;
          }
        }
        padding-right: 3vh;
        padding-left: 3vh;
      }
    }
  }
}

#btnAdmin {
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 2px black;

  &:hover {
    color: #c0ae8a;
    text-shadow: 1px 1px 1px white;
  }
}
