$primary-color:#e53530;
$secondary-color:#000000;
$light-color:#c0ae8a;
$medium-color:#a39477;
$dark-color:#857962;
$monochrome-color: #ffffff;
$variableBtn-color: #F64D17;

$font-title:'Yanone Kaffeesatz', sans-serif;
$font-text:'Source Sans Pro', sans-serif;

